@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Sans&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    color: #f4bb00;
    font-family: 'PT Sans', sans-serif;
 
}
body{
    background-color: #000000;
}
html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    max-width: 100%;
}

.to-top div{
    color: black;
    display: flex;
    flex-direction: column;
    height: 50%;
    align-self: center;
}
 
.to-top{
    background-color: #f4bb00;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    transition: all .4s; 
    border: solid gray 0.5px;
 
}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.nav-linkovi a {
    color: black;
}
 
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #000000;
    z-index: 2;
    border-bottom:solid #f4bb00 1px;    
 
}
 
.logo img{
    width: 40px;
    height: 40px;
 
}
 
.nav-linkovi li{
    list-style: none;
}
 
.nav-linkovi{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
 
.nav-linkovi a:hover{
    background-color: #FFD28F;
    color: gray;
}
 
.nav-linkovi a:active{
    filter: blur(1px);
}
 
.nav-linkovi a{
    font-weight: bold;
    padding: 8px;
    background-color: #f4bb00;
    color: black;   
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 6px;
    transition: 0.3s ease;
    font-size: 14px;
}

#destinacije{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.destinacije1{
    position: relative;
    margin: 50px;
}

div label{
    color: #000000;
}
 
select{
    padding: 5px;
    color: black;
}
 
textarea{
    color: grey;
}
 
div form{
    background-color: #f4bb00;
    top: 50%;
    width: 30%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 80px;
    margin-top: 50px;
}
 
div form textarea{
    resize: none;
}
#formaG{
    text-align: center;
    margin: 10px;
    color: white;
}

select option{
    color: black;
}
 
button{
    color: #000000;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 5px;
}
 
main{
    /* background-color: #B4BDFF; */
    flex-grow: 1;
}
 
 
body{
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.dest_main{
    text-align: center;
}

.aranzman{
    color: #f4bb00;
    font-size: larger;
}

.dest_main .dani p{
    color: black;
    font-weight: bolder;
}

.dani{
    background-color: #f4bb00;
    border-radius: 10%;
    border-width: 600px;
}

/*.pointer:hover{
    cursor:pointer;
}*/

#mapa{
    display: flex;
 
    align-items: center;
    flex-direction: column;
    padding-bottom: 75px;
    padding-left: 100px;
    padding-right: 100px;
}
 
.mapa-naslov{
    align-self: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

#o-nama {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    padding:0 100px;
}

#o-nama h2{
    padding-bottom: 20px;
}

.okvir{
    border: solid #f4bb00 5px;
    line-height: 0;
}
 
 
.ocene-naslov{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
 
 .ocene-flex{
    display: flex;
    flex-wrap: wrap;
} 
 
 .osoba{
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   align-items: center;
} 
 
.osoba p{
    text-align: center;
}
 
.osoba img{
    border: solid #f4bb00 3px;
}
 
.slika-osoba{
    height: 200px;
    width: 200px;
    padding: 8px;
}
 
.osoba h3{
    padding:15px 0;
}

#slideshow {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
#slideshow img {
    width: 800px;
    height: 500px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#slideshow img.active {
    opacity: 1;
}